body{
    background-color: rgb(212, 143, 252);
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(36, 2, 44);
}

h1, h2{
    text-align: center;
    color: rgb(73, 9, 133);
}

p, ul{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 20px;
}


img{
    display: block;
    margin: auto;
}

footer{
    text-align: center;
}