/*  
  #009eff azul mediano 
  #0da9d9 azul marinho
  #12b3ab verde água
  #47d4f5 ciano
  #76aee1 cinza azulado
  #09092d azul royal 
  #26077a azul escuro 
  #393781 roxo azulado
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

body{
    background-color: paleturquoise;
}

header{
    background-color:#0da9d9 ;
    color: #393781;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: #393781;
    text-decoration: none;
}

@media (max-width:675px){
    header .container{
        flex-direction: column;
        text-align: center;
    }
}

nav ul{
    margin-top: 10px;
    flex-direction: column;
}